table,
tr,
th,
td{
    border:2px solid crimson;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
}
th{
    background-color: cyan;
}
td{
    background-color: cornflowerblue;
}