*{
    box-sizing: border-box;
}
body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin: 15px 30px;
     font-size: 17px;
     padding: 50px;
}
.container
{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
     
}
 input[type="text"],
 input[type="email"],
 input[type="number"],
 input[type="checkbox"],
 input[type="radio"]
 select,
 table
 {
    width: 100%;
    padding: 16px;
    border: 5px solid #ccc;
    border-radius: 10px;
    margin: 12px;
 }
 fieldset{
     background-color: #fff;
     border: 5px solid #ccc;
     border-radius: 15px;
}
.mainheading{
    text-align: center;

}
input[type="submit"]
{
    background-color: #4daea1;
    color: white;
     padding: 15px 22px;
     border:none;
     border-radius: 8px;
     cursor: pointer;
     width: 100%;
}
input[type="submit"]:hover{
    background-color: #4caf84;

}

